.product-detail-container {
    padding: 20px;
  
    @media (max-width: 600px) {
      padding: 10px;
    }
  }
  
  .product-image {
    border-radius: 20px;
    max-width: 80%;
    height: auto;
    
    @media (max-width: 600px) {
      border-radius: 20px; // Remove border radius on smaller screens
    }
  }
  