html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &.dark-mode {
    // Define dark mode styles here
    background-color: #1a1a1a;
    color: #fff;
  }

}

.app-header {
  // background-color: #ffffff;
  // padding: 10px 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      transition: background-color 0.3s;
      border-radius: 5px;

      &:hover {
        background-color: #555;
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      flex-direction: column;

      a {
        width: 100%;
        text-align: center;
      }
    }
  }
}

footer {
  margin-top: auto;
}
